#encoding:UTF-8
<a href="<%= user_path(current_user) %>">
<%= gravatar_for current_user, size: 52 %>
</a>

<h1>
<%= current_user.name %>
</h1>

<span>
<%= link_to "微博",current_user %>
</span>
<span>
<%= link_to pluralize(current_user.microposts.count,""),current_user %>
</span>
